body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 20px;
  margin-right: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  margin: auto;
  text-align: center;
  background-color: white;
}

h1,h2,h3{
  text-align: center;
}
section>h2{
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0%;

}

li,section{
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin: 2px;
}

p{
  background-color: white;
  border-color: black;
}

a{
  color: black;
  font-style: normal;
  text-decoration: none;
}

button{
  background-color: white;
  font-size: medium;
  line-height: normal;
  border-style: solid;
  border-color: black;
}

.largeButton{
  width: 90%;
  height: 40px;
}

.listContainer{
  display: flex;
  flex-direction: row;
  
}

.noteContent{
  width: 80%;

}

.noteList{
  flex-grow: 1;
}

.dateDelete{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.folderList{
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.folderName{
  display: block;
}

.hidden {
  display: none;
}

footer{
  text-align: center;
}